

* {
  box-sizing: border-box;
}

.header {
  width:100%;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  display: flex;
}

.left-column {
  width: 50%;
  padding: 50px 75px 5px 150px;

}

.right-column {
  width: 50%;
  padding: 50px 150px 5px 75px;
}

h1, h2, p {
  text-align: center;
}

h1 {
  color: #d32323;
  font-weight: bold;
  display: block;
}

h2 {
  font-weight: bold;
  display: block;
}

h3 {
  background: #d32323;
  font-weight: normal;
  text-align: center;
  padding: 10px 0px 10px 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: white;
}

h4 {
  text-align: left;
  padding:5px;
}

.form {
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid grey;
  border-radius: 4px;
}

input[type=button] {
    width: 100%;
    background-color: #d32323;
    color: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
    font-size: 22px;
}

.fieldgroup {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  border: 1px solid grey;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  /*justify-content: flex-start;*/
  /*align-items: center;*/
}

.two-fields {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-field {
  margin: 0px 5px 5px 0px;
}

.right-field {
  margin: 0px 0px 5px 5px;
}

img {
  width: 100%;
}
